// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------


.section-menu{
    display: flex;
    justify-content: space-between;
    background-color: #22272d;


    a{
        height: inherit;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        text-decoration: none;
        padding: 0 30px;
        font-size: 22px;
    }

    .section-menu__toggle-menu{
        background-color: #000000;
        height: inherit;
    }

    .section-menu__logo{
        margin: 10px 0;
    }

    .section-menu__shopping-cart{
        background-color: #fbc531;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}